

/* Container styles */
.RestaurantCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  /* Hover effect for swipe feedback */
  .RestaurantCard:hover {
    transform: scale(1.05);
  }
  
  /* Title styles */
  .RestaurantCard h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
  }
  .welcomeText {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  .secondary-button {
    background-color: #000000;
    color: #fff; 
    font-size: 16px; 

    &:hover {
        background-color:  #fff; 
        color:  #000000;
      }

  }
  /* Description styles */
  .RestaurantCard p {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
  }
  
  /* Swipe direction styles */
  .RestaurantCard.left {
    transform: translateX(-100%) rotate(-10deg);
    opacity: 0.7;
  }
  
  RestaurantCard.right {
    transform: translateX(100%) rotate(10deg);
    opacity: 0.7;
  }
  
  /* Custom styling for other restaurant details */
  /* Add more styles for additional details if needed */
  