body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content:'';
  background: url("./images/360_F_445731650_wF48Hjvi9DDn1Kz6bMjgGbrVYDmWvTeG.png") no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.8; /* do the level you want here */
}

video{
  /* This is the HTML video tag */

}

.video-container {
/* This is the className for the wrapper around the video */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-box {
 
  padding: 50px; /* Add padding to the login box */
  max-width: 800px; /* Set the maximum width to your desired value */
  max-height: 2000px;
  margin: 0 auto; /* Center the login box horizontally */
}
.logo-container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin-bottom: 20px; /* Optional spacing between the logo and the form */
  margin-right: 20px;

}

.logo {
  max-width:70%;
}




/* 
=================
Table
=====================
*/

.table_container {
  max-width: 750px;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
}

caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table th.up {
  background-image: url("./images/up_arrow.png");
}
.table th.down {
  background-image: url("./images/down_arrow.png");
}
.table th.default {
  background-image: url("./images/default.png");
}
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
  background: #fff;
}
