/* LikedRestaurants.css */


.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Use min-height instead of height */
  padding-top: 20px;
  background: url("./../../images/360_F_445731650_wF48Hjvi9DDn1Kz6bMjgGbrVYDmWvTeG.png") center/cover no-repeat fixed;
  background-attachment: fixed; /* Optional: Keep the background fixed */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.restaurant-card {
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.restaurant-card:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 14px;
  line-height: 1.4;
}

.book-button {
  width: 100%;
  background-color: #ebdb03;
  border: none;
  color: rgb(12, 12, 11);
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.book-button:hover {
  background-color:  #fff; 
        color:  #000000;
}
